<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @department.url %>
</p>

<p>
  <strong>Leader name:</strong>
  <%= @department.leader_name %>
</p>

<p>
  <strong>Leader title:</strong>
  <%= @department.leader_title %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
