<%= form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label' %>
    <%= f.text_field :url, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :annual_budget, :class => 'control-label' %>
    <%= f.number_field :annual_budget, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :leader_name, :class => 'control-label' %>
    <%= f.text_field :leader_name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :leader_title, :class => 'control-label' %>
    <%= f.text_field :leader_title, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizations_path, :class => 'btn' %>
  </div>
<% end %>
